/*---Karissa Maldonado---*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- VARIABLES ---------- */
:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

/* ---------- FONTS ---------- */
h1, h2, h3{
    font-family: 'Molle', cursive;
}

h4, p, q, small, nav, button, form, a{
    font-family: 'Montserrat', sans-serif;
}

/*------------ DARK THEME PREFERENCE SETTINGS --------------*/
@media (prefers-color-scheme: dark) {
    body{
        background-color: #000;
    }
}

/*------------ SKIP TO CONTENT LINK --------------*/
#skip
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus
{
position:static;
width:auto;
height:auto;
}

/* ----- TEXT ----- */
p, small{
    font-size: 1em;
    margin: 0.25em;
    padding: 0.25em;
    max-width: 75ch;
}

/* ----- HEADINGS ----- */
h1, h2, h3, h4{
    font-weight: bold;
}

h1{
    font-size: 3em;
    margin: 1em 0;
    display: inline;
}

h2{
    font-size: 2em;
    display: inline;
}

h3{
    font-size: 1.75em;
}

/*------------ MAIN/HEADER/FOOTER --------------*/
main, header, footer{
    font-family: sans-serif;
    color: var(--dark-gray);
    width: 100%;
}

header{
    background-image: linear-gradient(#499BD2, #FFFFFF);
}

header, footer{
    padding: 1em;
}

main{
    max-width: 1795px;
}

footer{
    background-color: var(--light-gray);
}

/* ----- CONTAINERS ----- */


/* ---------- EXTRA SMALL SCREEN STYLES ---------- */
h1{
    color: #222222;
}

a{
    text-decoration: none;
    color: #000000;
}

/*------------ SMALL SCREEN SETTINGS --------------*/
@media (min-width: 360px){
    
    main{
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr;
        margin: 1em 0;
        padding: 1em;
        width: 360px;
    }

    header{
        display: grid;
        justify-content: center;
        width: auto;
    }


/*----------------------- START NAV TOGGLE -------------------------*/

    #menu-toggle {
        display: block;
        position: relative; 
        top: 50px;
        left: 50px;  
        z-index: 1;  
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #menu-toggle a {
        text-decoration: none;
        color: #232323;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

    #menu-toggle a:hover {
        color: var(--white);
    }

    #menu-toggle label {
        position: absolute;
        display: block;
        font-size: 1.5em;
        color: var(--black);
        font-family: 'Montserrat', sans-serif;
        right: 16px;
        top: -365px;
        width: 200px;
        height: 30px;
        background: var(--yellow);
        padding: 10px;
        text-align: center;
    }

    #menu-toggle label span {
        display: none;
    }

    #toggle {
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
    }

    /*
    * Use absolute positioning to place the menu off-screen
    */
        #toggle, ul {
        position: absolute;
        /* Hide the menu off-screen to the right */
        left: -100%;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        transition: left 0.3s ease; 
    }

    ul{
        background: var(--teal);
        list-style-type: none;
        padding-left: 0;
        font-size: 1.5em;
        border-bottom-style: solid;
        border-color: var(--black)
    }

    li{
        text-align: center;
        padding: 15px;
        border-top-style: solid;
        border-color: var(--black)
    }

    /*
    * Slide the menu in from left when the input is checked
    */
    #menu-toggle input:checked ~ ul {
        position: absolute;
        top: -325px;
        width: 220px;
        left: 215px;
    }

    #menu-toggle input:checked ~ label {
        background: var(--dark-gray);
        color: white;
    }

    .sr-only{
        display: none;
    }

/*----------------------- END NAV TOGGLE -------------------------*/

    footer{
        background-color: var(--light-gray);
        color: var(--dark-gray);
        text-decoration: none;
    }

    section{
        padding: 1em;
        width: 100%;
    }

    #intro{
        font-size: 1.25em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #plan{
        background-color: var(--yellow);   
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    div#plan{
        background-color: #55BCD5;
    }

    #testimonials{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #about{
        background-color: var(--blue);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div#about{
        width: 20px;
    }

    h3{
        font-size: 3.5rem;
    }

    h4{
        font-size: 2rem;
    }

    #contact{
        padding: 25px;
    }

    .form-required{
        font-size: .6em;
    }

    fieldset{
        padding: 10px;
    }

    header p{
        font-size: 1.5em;
    }

    footer p, footer a{
        font-size: 1em;
        display: flex;
        justify-content: center;
    }

}